@model IEnumerable<MuseosBogotaWeb.Contexto.Detalle>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Factura.IdFactura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescripcionCompra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdBoleta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.valorCompra)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Factura.IdFactura)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescripcionCompra)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdBoleta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.valorCompra)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdDetalle }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdDetalle }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdDetalle })
        </td>
    </tr>
}

</table>
